.authContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
  background-image: url("/images/meshedbg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
